<ion-header>
  <ion-toolbar>
    <ion-title>tableData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content class="ion-margin">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>S.No</ion-col>
        <ion-col>Name</ion-col>
        <ion-col>Email</ion-col>
        <ion-col>Password</ion-col>
      </ion-row>
      <ion-row >
        <ion-col> 1.</ion-col>
        <ion-col>{{username}}</ion-col>
        <ion-col>{{email}}</ion-col>
        <ion-col>{{password}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-content>
