#container {
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  #container{
    width: 1200px;
    height: 800px /* The width is 100%, when the viewport is 800px or smaller */
  }
  h1{
    font-size:70px;
  }
}

h1{
  color: red;
  font-size: 40px;
}

ion-item{
  margin-bottom: 50px;
}

// ----------------------------------------

.error{
  color: red;
  padding-bottom: 5px;
}