<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1> Registration form</h1>
    <h6 >Register and click on 'Show data' to fetch your data from localstorage</h6><br>
    <form [formGroup] = "loginForm" (ngSubmit)="loginUser(loginForm)">
      <ion-item lines="full" >
        <ion-label position="floating">User name</ion-label>
        <ion-input type="text" formControlName = "userName" ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" formControlName = "phone"></ion-input>
        <span class ="error" *ngIf="phone.invalid && phone.touched">Phone should be a number !</span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName = "email"></ion-input>
        <span class ="error" *ngIf="email.invalid && email.touched">Email is not valid !</span>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName = "password1"></ion-input>
        <span class ="error" *ngIf="password1.invalid && email.touched">Password should be of minimum 4 characters!</span>
      </ion-item>

      <!-- <ion-item lines="full">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName = "password2"></ion-input>
      </ion-item> -->

      <ion-row>
        <ion-col>
          <ion-button  type="submit" color="success" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="loginForm.invalid" [routerLink]="['/table-data']" color="primary" expand="block">Show Data</ion-button>
      </ion-col>
    </ion-row>
  </div>
  
  
</ion-content>
